repos:
-   repo: https://github.com/ambv/black
    rev: master
    hooks:
    -   id: black
        args: [--line-length=80, --check, .]
        entry: black
        language: python
        language_version: python3
        require_serial: true
        types: [python]
-   repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        types:
        - python
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types:
        - python
